<nav class="navbar">
    <div class="navbar-container">
        <img class="navbar-logo" routerLink="" src="assets/logo.jpg" alt="UniRV Logo" />
        <ul class="navbar-links">
            <li><a routerLink="">Inicio</a></li>
            <li><a routerLink="/professores">Professores</a></li>
            <li><a routerLink="/disciplinas">Disciplinas</a></li>
            <li><a routerLink="/salas">Salas</a></li>
            <li><a routerLink="/turmas">Turmas</a></li>
        </ul>
    </div>
    <div class="navbar-actions">
        <!-- Add login/logout buttons or user-related actions here -->
    </div>
</nav>