.navbar {
    background-color: black;
    padding: 10px 20px;
    color: #fff;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    width: 100%;
    max-width: 150px;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.navbar-links a:hover {
    color: lightgreen;
}

@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        text-align: center;
    }

    .navbar-links {
        flex-direction: column;
        margin-top: 10px;
    }

    .navbar-links li {
        margin-bottom: 10px;
    }
}