<div class="container">
    <h2>Salas Cadastradas</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Local</th>
                <th>Capacidade</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sala of salas">
                <td>{{ sala.id }}</td>
                <td>{{ sala.nome }}</td>
                <td>{{ sala.local }}</td>
                <td>{{ sala.capacidade }}</td>
                <td>{{ getStatusLabel(sala.status) }}</td>
                <td>
                    <button class="add btn-sm">Adicionar</button>
                    <button class="btn btn-primary btn-sm">Editar</button>
                    <button class="btn btn-danger btn-sm">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>