.container {
    padding: 20px;
    max-width: 100%;
}

.container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.container ul {
    list-style-type: none;
    padding: 0;
}

.container table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.btn {
    padding: 0 0 20px;
}

.container table th,
.container table td {
    padding: 10px;
}

.container table th {
    background-color: #f2f2f2;
}

.container table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.container table tr:hover {
    background-color: #f5f5f5;
}

.container table button {
    margin-right: 5px;
}

.container table button:last-child {
    margin-right: 0;
}

.container button.add {
    background-color: #28a745;
    color: #fff;
}

.container button.add:hover {
    background-color: #218838;
}

.container button.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
}

.container table button.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.container table button.btn-primary:hover {
    background-color: #0069d9;
}

.container table button.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.container table button.btn-danger:hover {
    background-color: #c82333;
}

.container table button.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
}