<div class="container">
    <h2>Turmas Cadastradas</h2>
    <div class="btn">
        <button class="add btn-sm">Adicionar Turma</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Dia da Semana</th>
                <th>Inicio</th>
                <th>Fim</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let turma of turmas">
                <td>{{ turma.id }}</td>
                <td>{{ turma.nome }}</td>
                <td>{{ turma.dia }}</td>
                <td>{{ turma.inicio }}</td>
                <td>{{ turma.fim }}</td>
                <td>
                    <button class="btn btn-primary btn-sm">Editar</button>
                    <button class="btn btn-danger btn-sm">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>