<div class="container">
    <h2>Disciplinas Cadastradas</h2>
    <div class="btn">
        <button class="add btn-sm">Adicionar Disciplina</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Código</th>
                <th>Nome</th>
                <th>Periodo</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let disciplina of disciplinas">
                <td>{{ disciplina.id }}</td>
                <td>{{ disciplina.codigo }}</td>
                <td>{{ disciplina.nome }}</td>
                <td>{{ disciplina.periodo }}</td>
                <td>{{ getStatusLabel(disciplina.status) }}</td>
                <td>
                    <button class="btn btn-primary btn-sm">Editar</button>
                    <button class="btn btn-danger btn-sm">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>